<%- include ('partials/loginheader') %>

<div class="analyticsview" id="analyticsview">
	<div class="report"><input type="button" id="report" class="btn btn-warning"  role="button" value="Click to generate Analytics report"></input></div>
</div>

<%- include ('partials/footer') %>