<%- include ('partials/header') %>

<script type="text/javascript">

$(document).ready(function(){
  $('#submit').click(function(){
    // console.log("here");
    $('#error').empty();

    var username = $("#userName").val();
    var password = $("#inputPassword").val();
    var token = $("#token").val();

    $.ajax({

      url:'/login',
      type: 'POST',
      data: {"username": username,"password":password,"token":token},
      success : function(data){
        var group = data.group;
        var role = data.role;

        if(group == 'application' || typeof group == 'undefined' || group == null){

        window.location.pathname = "successlogin";

      }else if(group == 'financial'){
        window.location.pathname = "financialview";
      }else if(group == 'analytics'){
        window.location.pathname = "analyticsview";
      }
      },
      error : function(error){
        var htmlToAppend = '<p style="background-color:red;"> Incorrect username/password or token </p>';
          if(error.responseText == 'showAlert')
            $('#error').append(htmlToAppend);
      }

    });

  });
});
</script>

<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin ">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <div id="error"></div>
            <form action="#" class="form-signin">
              <div class="form-label-group">
                <label for="userName">Username</label>
                <input type="text" name="username" id="userName" class="form-control" placeholder="Username" required autofocus>
                
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                
              </div>


              
               <div class="form-label-group">
                <label for="token">Your 6-digit Google Authenticator token</label>
                <input type="text" name="token" id="token" class="form-control" placeholder="6-digit Google Authenticator token" pattern="[0-9]{6}" required /> 
                
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <input id="submit" value="Sign In" class="btn btn-lg btn-primary btn-block text-uppercase" type="button"></input>
              <hr class="my-4">
              <a href="/register" class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Register
          </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include ('partials/footer') %>